@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42; /* slate-900 */
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-gradient-to-b from-slate-900 via-slate-950 to-black min-h-screen;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
